/* Basic Styling */

body {
  font-family: arial,helvetica,verdana,sans-serif;
  font-size:85%;
  color:#5b5a54;
}

.clear {
  clear:both;
  line-height:1px;
  height:1px;
  font-size:1px;
}

.access {
  font-size:1px;
  line-height:1px;
  height:1px;
  position:absolute;
  left -9999px;
}

/* Anchors */


a {
  color:#004fa4;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a img {
  border:none;
}

/* Headings */

h1 {
  font-size:2.2em;
  font-weight:lighter;
  margin:20px 0 20px 0;
  padding:0;
  color:#000;
}

h2 {
  font-size:1.3em;
  font-weight:lighter;
  margin:18px 0 14px 0;
  padding:0;
  color:#000;
}

h3 {
  font-size:1.2em;
  font-weight:bold;
  margin:10px 0 10px 0;
  padding:0;
  color:#000;
}

h4,h5,h6 {
  font-size:1em;
  font-weight:normal;
  margin:10px 0 10px 0;
  padding:0;
  color:#000;
}

/* Paragraphs */

p {
  margin:20px 0
}

/* Misc */

body,div,dl,dt,dd,ul,ol,li,pre,fieldset,input,textarea,blockquote,th,td {
  margin:0;
  padding:0;
}

form {
margin:1em 0
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

td, th {
vertical-align: top
padding:0;
}

td p, th p {
margin:0;
}

table 

fieldset,img {
  border:0;
}

textarea {
  overflow:auto;
  font-family:arial,helvetica,sans-serif;
  font-size:1em;
}

address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}

strong, b {
  font-weight:bold;
}

em, i {
  font-style:italic;
}

ol,ul {
  list-style:none;
}

caption,th {
  text-align:left;
}


q:before,q:after {
  content:'';
}

abbr,acronym {
  border:0;
}
