/* basic styling */

body {
  font-size: 90%;
  font-family: arial,helvetica,verdana,sans-serif;
  margin: 0;
  padding: 0;
  line-height:1.6em;
  text-align:center;
}

#wrapper {
  margin:0 auto;
  text-align:left;
  width: 90%;
}

.login {
  float:right;
  color:#999;
  padding:0;
  font-size:0.8em;
}

.login a {
  color:#999;
}

.login a:hover {
  color:#f00;
}

#header {
  border-bottom:5px solid #004fa4;
  margin:20px 0 0 0;
}

#header .logos li {
height:95px;
}

#header .logos .three_rivers_logo {
  float:left;
}

#header .logos .watford_logo {
  float:right;
}

#header .title {
text-align:center;
}

#header .title h1 {
margin:0 0 10px 0;
}

#header .title h1 a {
  text-decoration:none;
  color:#ca003a;
}

#header .title .strap a {
  color:#000;
}

#access_links {
  position:absolute;
  left:-3000px;
}

#main_col {
  float:left;
  width:60%;
}

#wide_main_col {
  float:right;
  width:78%;
}

#main_col .content, #wide_main_col .content {
  padding:0 2% 0 7%
}

#main_col .content img, #wide_main_col .content img {
  float: right;
  margin:0 0 0.5em 0.5em;
}

#left_col {
  float:left;
  width:19%;
}

#left_col .search {
  padding:1.45em 0 1em 0;
}

#left_col .search table {
  width:100%;
}

#left_col .search td.search_cell {
  width:93%;
}

#left_col .search label {
  display:none;
}

#left_col .search .search_field {
  width:90%;
}

#left_col li {
  border-bottom:1px solid #fff;
}

#left_col ul ul ul li {
  padding-left:20px;
  font-size:0.9em;
  line-height:1.2em;
}

#left_col li a,
#left_col li span {
  display:block;
  color:#004fa4;;
  padding:2px 10px;
  border-bottom:1px solid #aaa;
}

#left_col li a:hover {
  background:#12572a;
  color:#fff;
  text-decoration:none;
}

#left_col ul ul ul li a {
  background:transparent;
  color:#12572a;
  padding:4px 10px;
}

#left_col li a:hover {
  background:#12572a;
  color:#fff;
  text-decoration:none;
}

#left_col li.selected span {
  background:#12572a;
  color:#fff;
  text-decoration:none;
}

#left_col .home_link a {
  font-weight:bold;
}

#right_col {
  float:right;
  width:19%;
}

.navigation, .portletWrap, .content_list, .rss_feed {
  margin:0 0 2em 0
}

#footer {
  clear:both;
  font-size:0.9em;
  color:#999;
  padding:40px 0 0 26%;
}

#footer li {
  float:left;
  padding:0 20px 0 0;
}

#footer a {
  color:#999;
}

#footer a:hover {
  color:#f00;
}