#main_col {
  width:79%;
}

.rss_feed h3 {
  font-size:1em;
  margin:0;
}

.rss_feed p {
  margin:0 0 0 30px;
}

.content_list h3 {
  font-size:1em;
  margin:0;
}

.content_list p {
  margin:0 0 1em 30px;
}
