.top_row .main {
float:left;
width:620px;
background:#8ab5dc url(../images/backgrounds/top_content_box/top.png) top left no-repeat;
height:300px;
}

.top_row .main .content_wrapper {
background:transparent url(../images/backgrounds/top_content_box/bottom.png) bottom left no-repeat;
height:300px;
}

.top_row .main .content {
padding:20px 20px 20px 35px;
color:#fff;
font-size:1.10em;
}

.top_row .main .content h1 {
margin:10px 0 10px 0;
}

.top_row .links {
float:right;
width:300px;
background:#8ab5dc url(../images/backgrounds/top_links_box/top.png) top left no-repeat;
height:300px;
}

.top_row .links .content_wrapper {
background:transparent url(../images/backgrounds/top_links_box/bottom.png) bottom left no-repeat;
height:300px;
}

.top_row .links .content {
padding:30px 20px 15px 27px;
color:#fff;
font-size:0.8em;
font-style:italic;
}

.top_row .links h2 {
  margin:15px 0 15px 0;
}

.top_row .links h2 img {
  display:block;
}

.top_row .links li {
background:transparent url(../images/backgrounds/top_links_box/bullet.png) 0px 7px no-repeat;
padding:0 0 2px 20px;
}

.top_row .links a {
color:#fff;
text-decoration:none;
}

.top_row .links a:hover {
text-decoration:underline;
}

.middle_row {
margin-top:20px;
}

.bottom_row {
margin-top:20px;
}

.bottom_row ul.bins li {
float:left;
}

.bottom_row ul.bins li.brown_bin,
.bottom_row ul.bins li.green_bin {
margin-left:20px;
}

.bottom_row .accordian_1 {
float:left;
}

.bottom_row .accordian_2 {
float:right;
}

.faq {
width:460px;
background:#e1e9f5 url(../images/backgrounds/faq_box/top.png) left top no-repeat;
}

.faq h2 {
margin:0;
padding:25px 20px 20px 35px;
}

.faq .content_wrapper {
background:transparent url(../images/backgrounds/faq_box/bottom.png) left bottom no-repeat;
padding:0 0 30px 0;
}

.faq .question  {
height:50px;
background:#88b4db url(../images/backgrounds/faq_box/faq_noscript.png) left top no-repeat;
color:#fff;
font-weight:bold;
}

.faq .question h3 {
margin:0;
padding:14px 0 0 70px;
font-size:1em;
}

.faq .answer {
color:#0074b4;
font-weight:bold;
background:#e3eaf5 url(../images/backgrounds/faq_box/faq_answer.png) left top no-repeat;
}

.faq .answer .content {
padding:17px 10px 17px 70px;
}

/* Accordian javascript enhancement */

.faq .closed .question {
cursor:pointer;
background:#88b4db url(../images/backgrounds/faq_box/faq_closed.png) left top no-repeat;
}

.faq .open .question {
background:#88b4db url(../images/backgrounds/faq_box/faq_open.png) left top no-repeat;
}
