
/* Layout rules. */

#floatWrapper {
	float:right;
	width:75%;
}

#content {
	float:left;
	width:60%;
}

#relatedItems {
	margin-left:61%;
}

#navigation {
	width:20%;
}

#footer {
	clear:both;
	margin-left:25%;
}

