#wrapper {
  position:relative;
  width:95%;
  margin:10px auto;
}

.header {
  position:relative;
}

.header h1 {
  margin:0;
  padding:10px 0 20px 0;
}

.header h2 {
  position:absolute;
  margin:0;
  padding:0;
  left:300px;
  top:0;
}

.content {
  width:50%;
  position:absolute;
  left:26%;
  margin:0 0 100px 0;
  background:transparent url(../images/backgrounds/wide_col/bottom_right.png) right bottom no-repeat;
}

.content .text,
.content .item {
  font-size:1.2em;
  margin:0;
  padding:30px 30px 100px 30px;
  background:transparent url(../images/backgrounds/wide_col/bottom_left.png) left bottom no-repeat;
  min-height:300px;
}

.content h2 {
  margin:0;
  padding:0;
  font-size:2em;
  background:#33fffe url(../images/backgrounds/wide_col/top_right.png) right top no-repeat;
}

.content h2 span {
  background:transparent url(../images/backgrounds/wide_col/top_left.png) left top no-repeat;
  padding:80px 30px 0px 30px;
  display:block;
}

.content .item img {
  float:left;
  margin:0 30px 0 20px;
}

.nav {
  width:25%;
  position:absolute;
  left:0;
  background:transparent url(../images/backgrounds/narrow_col/bottom_right.png) right bottom no-repeat;
}

.nav ul {
  font-size:1.1em;
  list-style:none;
  margin:0;
  padding:0px 10px 60px 20px;
  background:transparent url(../images/backgrounds/narrow_col/bottom_left.png) left bottom no-repeat;
}

.nav h2 {
  padding:0;
  margin:0;
  text-align:center;
  font-size:2em;
  background:#33fffe url(../images/backgrounds/narrow_col/top_right.png) right top no-repeat;
}

.nav h2 span {
  padding:50px 10px 5px 20px;
  display:block;
  background:transparent url(../images/backgrounds/narrow_col/top_left.png) left top no-repeat;
}

.nav ul ul {
  background:none;
  padding:0 0 0 30px;
}

.nav li {
  margin:0;
  padding:0;
  border-bottom:1px solid #fff; /* IE6 Bug */
}

.nav a {
  display:block;
  color:#000;
  text-decoration:none;
  padding:4px 0;
  border-bottom:1px solid #fff; /* IE6 Bug */
}

.nav a:hover {
  text-decoration:underline;
}

.nav .selected a {
  font-weight:bold;
}

#wrapper .links {
  position:absolute;
  width:23%;
  left:77%;
}

#wrapper .links h2 {
  margin:0;
  padding:0;
  font-size:2em;
  text-align:center;
  background:#33fffe url(../images/backgrounds/narrow_col/top_right.png) right top no-repeat;
}

#wrapper .links h2 span{
  background:transparent url(../images/backgrounds/narrow_col/top_left.png) left top no-repeat;
  display:block;
  padding:50px 10px 5px 20px;
}

#wrapper .links .related {
  background:transparent url(../images/backgrounds/narrow_col/bottom_right.png) right bottom no-repeat;
  margin:0 0 30px 0;
}

#wrapper .links .related-content {
  background:transparent url(../images/backgrounds/narrow_col/bottom_left.png) left bottom no-repeat;
}

#wrapper .links p {
  padding:0px 10px 10px 55px;
}

#wrapper .links ul {
  font-size:0.9em;
  list-style:none;
  margin:0;
  padding:0px 20px 60px 35px;
}

#wrapper .links li {
  margin:0;
  padding:0 0 0 30px;
  border-bottom:1px solid #fff; /* IE6 Bug */
}

#wrapper .links .internal {
  background: transparent url(../images/backgrounds/related/link.gif) 4px 5px no-repeat;
}

#wrapper .links .external {
  background: transparent url(../images/backgrounds/related/external.png) 4px 5px no-repeat;
}

#wrapper .links .download {
  background: transparent url(../images/backgrounds/related/download.gif) 4px 5px no-repeat;
}

#wrapper .links .pdf {
  background: transparent url(../images/backgrounds/related/pdf.png) left 5px no-repeat;
}


#wrapper .links a {
  display:block;
  color:#000;
  text-decoration:none;
  padding:4px 0;
  border-bottom:1px solid #fff; /* IE6 Bug */
}

#wrapper .links a:hover {
  text-decoration:underline;
}
