body.business {
  background:#ffd1ff;
}

body.business .content h2 {
  background-color:#ffd1ff;
}

body.business .nav h2 {
  background-color:#ffd1ff;
}

body.business #wrapper .links h2 {
  background-color:#ffd1ff;
}

body.business #wrapper .links .related {
  border-bottom:1px solid #ffd1ff;
}

body.business .content h2 {
  background-color:#ffd1ff;
}

/*  sub-groups */

body.sub-groups {
  background:#ffd1ff;
}

body.sub-groups .content h2 {
  background-color:#ffd1ff;
}

body.sub-groups .nav h2 {
  background-color:#ffd1ff;
}

body.sub-groups #wrapper .links h2 {
  background-color:#ffd1ff;
}

body.sub-groups #wrapper .links .related {
  border-bottom:1px solid #ffd1ff;
}

body.sub-groups .content h2 {
  background-color:#ffd1ff;
}

/* news */

body.news {
  background:#fec0c0;
}

body.news .content h2 {
  background-color:#fec0c0;
}

body.news .nav h2 {
  background-color:#fec0c0;
}

body.news #wrapper .links h2 {
  background-color:#fec0c0;
}

body.news #wrapper .links .related {
  border-bottom:1px solid #fec0c0;
}

body.news .content h2 {
  background-color:#fec0c0;
}

/* consultation */

body.consultation {
  background:#b9dcff;
}

body.consultation .content h2 {
  background-color:#b9dcff;
}

body.consultation .nav h2 {
  background-color:#b9dcff;
}

body.consultation #wrapper .links h2 {
  background-color:#b9dcff;
}

body.consultation #wrapper .links .related {
  border-bottom:1px solid #b9dcff;
}

body.consultation .content h2 {
  background-color:#b9dcff;
}

/* about-us */

body.about-us {
  background:#fdfc9d;
}

body.about-us .content h2 {
  background-color:#fdfc9d;
}

body.about-us .nav h2 {
  background-color:#fdfc9d;
}

body.about-us #wrapper .links h2 {
  background-color:#fdfc9d;
}

body.about-us #wrapper .links .related {
  border-bottom:1px solid #fdfc9d;
}

body.about-us .content h2 {
  background-color:#fdfc9d;
}

/* contact-us */

body.contact-us {
  background:#b8ffb7;
}

body.contact-us .content h2 {
  background-color:#b8ffb7;
}

body.contact-us .nav h2 {
  background-color:#b8ffb7;
}

body.contact-us #wrapper .links h2 {
  background-color:#b8ffb7;
}

body.contact-us #wrapper .links .related {
  border-bottom:1px solid #b8ffb7;
}

body.contact-us .content h2 {
  background-color:#b8ffb7;
}

/* links */

body.links {
  background:#ffd4aa;
}

body.links .content h2 {
  background-color:#ffd4aa;
}

body.links .nav h2 {
  background-color:#ffd4aa;
}

body.links #wrapper .links h2 {
  background-color:#ffd4aa;
}
body.links #wrapper .links .related {
  border-bottom:1px solid #ffd4aa;
}

body.links .content h2 {
  background-color:#ffd4aa;
}

/* projects */

body.projects {
  background:#cdcdcd;
}

body.projects .content h2 {
  background-color:#cdcdcd;
}

body.projects .nav h2 {
  background-color:#cdcdcd;
}

body.projects #wrapper .links h2 {
  background-color:#cdcdcd;
}

body.projects #wrapper .links .related {
  border-bottom:1px solid #cdcdcd;
}

body.projects .content h2 {
  background-color:#cdcdcd;
}
